<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  <style>
    .login_btn {
      margin-top: 5px;
      justify-content: center;
      display: flex;
    }
    .form-wrapper {
      display: flex;
      justify-content: center; /* 수평 가운데 정렬 */
      align-items: center; /* 수직 가운데 정렬 */
      height: 70vh; /* 화면 전체 높이로 설정하여 세로 가운데 정렬 */
    }
    .form-group {
      position: relative;
      width: 100%;
    }
    #btn_checkID {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
  </style>
  <script>
    window.onload = () => {
      document.querySelector('#id').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') { // ===: 타입까지 확인
          document.getElementById('btn_checkID').focus();
        }
      }); 
  
      document.querySelector('#passwd').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('passwd2').focus();
        }
      }); 
  
      document.querySelector('#passwd2').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('mname').focus();
        }
      }); 
  
      document.querySelector('#mname').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('tel').focus();
        }
      });
      
      document.querySelector('#tel').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_DaumPostcode').focus();
        }
      }); 
      
      document.querySelector('#address2').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_send').focus();
        }
      }); 
      document.querySelector('#birth').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_send').focus();
        }
      }); 
      document.querySelector('#sex').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_send').focus();
        }
      });
      
    }
    
    function checkID() {
      // alert('checkID()');
      
      let id = document.getElementById('id');
      let id_msg = document.getElementById('id_msg');
  
      if (id.value.trim().length == 0) {
        id_msg.innerHTML= 'ID 입력은 필수 입니다. ID(이메일)는 3자이상 권장합니다.';
        id_msg.classList.add('span_warning');    // class 적용
        id.focus();
  
        return false;  // 회원 가입 진행 중지
        
      } else {  // when ID is entered
        id_msg.classList.remove('span_warning'); // class 삭제
  
       // ---------------------------------------------------------------------------------------
       // fetch 관련 시작
       // ---------------------------------------------------------------------------------------
        let id = document.getElementById('id');
        let url = './checkID?id=' + id.value;
    
        fetch(url, {
            method: 'GET',
            // headers: {
            //   'Content-Type': 'application/json' // JSON 형식으로 데이터 전송을 알림
            // },
            // body: JSON.stringify(dataToSend) // JSON 데이터를 문자열로 변환하여 요청 본문에 포함            
        })
        .then(response => response.json())
        .then(rdata => {
          if (rdata.cnt > 0) { // 아이디 중복
            id_msg.innerHTML= '이미 사용중인 ID(이메일) 입니다. 다른 ID(이메일)을 지정해주세요.';
            id_msg.classList.add('span_warning');
            id.focus();
              
          } else { // 아이디 중복 안됨.
            id_msg.innerHTML= '사용 가능한 ID(이메일) 입니다.';
            id_msg.classList.add('span_info');
            document.getElementById('passwd').focus(); 
          }
        })
        .catch(error => { // 서버 다운등 통신 에러
            console.error('Error:', error);
        });      
            
        // 처리중 출력
        id_msg.innerHTML="<img src='/images/progress.gif' style='width: 5%;'>"; // static 기준

       // ---------------------------------------------------------------------------------------
       // fetch 관련 종료
       // ---------------------------------------------------------------------------------------
        
      }
    }
    
      function send() { // 회원 가입 처리
      
        // 아이디 유효성 검사 **
        let id = document.getElementById('id');
        let id_msg = document.getElementById('id_msg');

        if (id.value.trim().length == 0) {
          id_msg.innerHTML = 'ID 입력은 필수 입니다. ID(이메일)는 3자이상 권장합니다.';
          id_msg.classList.add('span_warning');    // class 적용
          id.focus();

          return false;  // 회원 가입 진행 중지

        }
        
        
        // 패스워드 유효성 검사 **
        // 패스워드를 정상적으로 2번 입력했는지 확인
        let passwd = document.getElementById('passwd');
        let passwd1_msg = document.getElementById('passwd1_msg');
        let passwd2 = document.getElementById('passwd2');
        let passwd2_msg = document.getElementById('passwd2_msg');

        if (passwd.value.length == 0) {
          passwd1_msg.innerHTML = '패스워드 입력은 필수입니다.';
          passwd1_msg.classList.add('span_warning');    // class 적용
          mname.focus();

          return false;  // 회원 가입 진행 중지
        }
        if (passwd2.value.length == 0) {
          passwd2_msg.innerHTML = '패스워드 확인해주세요.';
          passwd2_msg.classList.add('span_warning');    // class 적용
          mname.focus();

          return false;  // 회원 가입 진행 중지
        } else if (passwd.value != passwd2.value) {
          passwd2_msg.innerHTML = '입력된 패스워드가 일치하지 않습니다.';
          passwd2_msg.classList.add('span_warning');    // class 적용
          passwd.focus();  // 첫번째 패스워드로 focus 설정

          return false;  // 회원 가입 진행 중지
        } else {


          // 성명 유효성 검사 **
          let mname = document.getElementById('mname');
          let mname_msg = document.getElementById('mname_msg');

          if (mname.value.length == 0) {
            mname_msg.innerHTML = '이름 입력은 필수입니다.';
            mname_msg.classList.add('span_warning');    // class 적용
            mname.focus();

            return false;  // 회원 가입 진행 중지
          }
          
          // 전화 번호 유효성 검사 **
          let tel = document.getElementById('tel');
          let tel_msg = document.getElementById('tel_msg');

          if (tel.value.length == 0) {
            tel_msg.innerHTML = '전화번호 입력은 필수입니다.';
            tel_msg.classList.add('span_warning');    // class 적용
            tel.focus();
            return false;  // 회원 가입 진행 중지
          } else if (!/^\d+$/.test(tel.value)) {  // 전화번호가 숫자인지 확인
          // ^\d+$는 정규식으로, 문자열이 오직 숫자(digit)로만 이루어져 있는지를 체크합니다.
              tel_msg.innerHTML = '전화번호는 숫자만 입력 가능합니다.';
              tel_msg.classList.add('span_warning');    // class 적용
              tel.focus();
              return false;  // 회원 가입 진행 중지
          }
          
          

          
          // 주소 유효성 검사 **  
          let address1 = document.getElementById('address1');
          let address1_msg = document.getElementById('address1_msg');

          if (address1.value.length == 0) {
            address1_msg.innerHTML = '주소입력은 필수입니다.';
            address1_msg.classList.add('span_warning');    // class 적용
            address1.focus();

            return false;  // 회원 가입 진행 중지
          }
          
          
          // 생년월일 유효성 검사 **  
          let birth = document.getElementById('birth');
          let birth_msg = document.getElementById('birth_msg');

          if (birth.value.length == 0) {
            birth_msg.innerHTML = '생년월일은 필수입니다.';
            birth_msg.classList.add('span_warning');    // class 적용
            birth.focus();

            return false;  // 회원 가입 진행 중지
          } 
          
          // 성별 유효성 검사 **  
          let sex = document.getElementById('sex');
          let sex_msg = document.getElementById('sex_msg');

          if (sex.value.length == 0) {
            sex_msg.innerHTML = '성별은 필수입니다.';
            sex_msg.classList.add('span_warning');    // class 적용
            sex.focus();

            return false;  // 회원 가입 진행 중지
          } else if (!['M', 'W'].includes(sex.value.toUpperCase())) {  // 성별이 M 또는 W인지 확인, 대소문자 구분 없음
              sex_msg.innerHTML = '성별은 \'M\' 또는 \'W\'로만 입력 가능합니다.';
              sex_msg.classList.add('span_warning');    // class 적용
              sex.focus();  // 성별 입력란에 포커스 이동
              return false;  // 회원 가입 진행 중지
          }
          
  
        } // passwd2_msg else 끝
        document.getElementById('frm').submit(); // required="required" 작동 안됨.
      }    
  </script>

  <div class="title_line">
    <span id='id_msg'></span>
    <span id='passwd2_msg'></span>
    <span id='mname_msg'></span>
    <span id='birth_msg'></span> 
    
    
    
    
  </div>
  <div class='menu_line'></div>
  
  <div class="form-wrapper">
    <form name="frm" id="frm" th:object="${memberVO}" method="post" action="/member/create">
      <div class="form-group" style="text-align:center">회원가입</div>
      <div class="form-group">
      
        <input style="margin-top: 5px; width:70%; font-size:medium " type="text" name="id" id="id" th:field="*{id}" placeholder="아이디(이메일)*" class="form-control form-control-sm">
        <button type="button" id="btn_checkID" onclick="checkID()" class="btn btn-primary btn-sm" style="margin-left:20px; font-size:small">확인</button>
        
      </div>
      
      <div class="form-group">
        <input style=" margin-top: 5px;width:100%; font-size:medium" type="password" name="passwd" id="passwd" required="required"
             placeholder="패스워드" class="form-control form-control-sm">
      </div>

      <div class="form-group">
        <input style="margin-top: 5px; width:100%; font-size:medium" type="password" name="passwd2" id="passwd2" required="required"
        placeholder="패스워드 확인" class="form-control form-control-sm">
        
      </div>

      <div class="form-group">
        <input style="margin-top: 5px; width:100%; font-size:medium" type="text" name="mname" id="mname" required="required"
          placeholder="성명" class="form-control form-control-sm">
        
      </div>
  
      <div class="form-group">
        <input style="margin-top: 5px; width:100%; font-size:medium" type="text" name="tel" id="tel" required="required"
        placeholder="전화번호" class="form-control form-control-sm">
      </div>

      
  
      <div class="form-group">
        <input style="margin-top: 5px; width:100%; font-size:medium" type="text" name="address1" id="address1" placeholder="주소" class="form-control form-control-sm">
      </div>  
  
      <div class="form-group">
        <input style="margin-top: 5px; width:100%; font-size:medium" type="text" name="address2" id="address2" placeholder="상세 주소" class="form-control form-control-sm">
      </div>
      
      <div class="form-group">
        
        <input style="margin-top: 5px; width:100%; font-size:medium" type='text' name='birth' id='birth' value='' placeholder="생년월일"
                  class="form-control form-control-sm">
                 
      </div> 
      <div class="form-group">
        <input style="margin-top: 5px; width:100%; font-size:medium" type='text' name='sex' id='sex' value='' placeholder="성별"
                  class="form-control form-control-sm">
        <span id='sex_msg'></span>          
      </div>   


      <div class="login_btn">
        <button type="button" class="btn btn-primary btn-sm" style="margin-right:15px; font-size:small" onclick="send();"  title="가입">가 입</button>
        <button type="button" class="btn btn-primary btn-sm" style="margin-left:15px; font-size:small" onclick="history.back();"  title="취소">취 소</button>
      </div>


    </form>
  </div>
    
</div>

</html>
