<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  <script>
    window.onload = () => {
      document.querySelector('#id').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') { // ===: 타입까지 확인
          document.getElementById('btn_checkID').focus();
        }
      }); 
  
      document.querySelector('#passwd').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_send').focus();
        }
      }); 
  
    }
    
    function send() { // 회원 가입 처리
      let id = document.getElementById('id');
      let id_msg = document.getElementById('id_msg');
  
      if (id.value.trim().length == 0) {
        id_msg.innerHTML= 'ID 입력은 필수 입니다.';
        id_msg.classList.add('span_warning');    // class 적용
        passwd.focus();
  
        return false;  // 로그인 진행 중지
        
      }
  
      let passwd = document.getElementById('passwd');
      let passwd_msg = document.getElementById('passwd_msg');
  
      if (passwd.value.trim().length == 0) {
        passwd_msg.innerHTML= '패스워드 입력은 필수 입니다.';
        passwd_msg.classList.add('span_warning');    // class 적용
        passwd.focus();
  
        return false;  // 로그인 진행 중지
        
      }
  
      document.getElementById('frm').submit(); // required="required" 작동 안됨.
    }    
  </script>


  <div class="title_line">
    <span id='id_msg'></span>  
    <span id='passwd_msg'></span>
  </div>
  
  <div class="form-wrapper" style="width: 100%;">
    <form name="frm" id="frm" th:object="${memberVO}" method="post" action="/member/login">
       <div class="form-group" style=" text-align:center"> 로그인</div>
       
      <div class="form-group" style="margin-top: 5px; ">     
        <input style="margin-top: 5px; width:100%; font-size:x-large" type="text" name="id" id="id" th:value="${ck_id}" required="required" placeholder="id 입력"
               class="form-control fom-control-sm" >      
      </div>
     
      <div class="form-group" style="margin-top: 5px;">
        <input style="margin-top: 5px; width:100%; font-size:x-large" type='password' name='passwd' id='passwd' th:value="${ck_passwd}" required="required" 
                  placeholder="패스워드" class="form-control form-control-sm">      
      </div>

      <div class="login_btn">
        <button type="button" onclick="send();" class="btn btn-primary btn-sm" style=" font-size:small">로그인</button>
      </div>


    </form>
  </div>
    
</div>
</html>
  <style>
    .login_btn {
      margin-top: 5px;
      justify-content: center;
      display: flex;
    }
    .form-wrapper {
      display: flex;
      justify-content: center; /* 수평 가운데 정렬 */
      align-items: center; /* 수직 가운데 정렬 */
      height: 40vh; /* 화면 전체 높이로 설정하여 세로 가운데 정렬 */
    }
    .form-group {
      position: relative;
      width: 100%;
    }
    #btn_checkID {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
  </style>
