
<div th:fragment="navbarFragment">

<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Health care</a>

    <div class="icon-container">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        
        <!-- 회원 정보 탑 메뉴-->
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" th:text="회원">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item"><a class="dropdown-item" href="/member/create">회원 가입</a></li>
            <li class="nav-item">
              <span th:if="${session.memberno == null}"><a class="dropdown-item" href="/member/login"
                  th:text="@{|로그인|}"></a></span>
              <span th:if="${session.memberno != null}"><a class="dropdown-item" href="/member/logout"
                  th:text="@{|${session.id} 로그아웃|}"></a></span>
            </li>

            <li class="nav-item" th:if="${session.memberno != null}">
              <a class="dropdown-item" th:href="@{|/member/read?memberno=${session.memberno}|}">회원 정보 조회</a>
            </li>
            <!--<li class="nav-item" th:if="${session.memberno != null}">
                <a class="nav-link" href="/member/passwd_update_form">비밀 번호 변경</a>
            </li>-->
            <li class="nav-item" th:if="${session.memberno != null}">
              <a class="dropdown-item" href="/member/update_form">회원 수정</a>
            </li>
            <li class="nav-item" th:if="${session.memberno != null}">
              <a class="dropdown-item" href="/mh/list_all">회원 건강 정보</a>
            </li>
            <li class="nav-item"><a class="dropdown-item" href="#">아이디 찾기</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#">비밀번호 찾기</a></li>
            <li class="nav-item" th:if="${session.memberno != null}">
              <a class="dropdown-item" th:href="@{|/member/delete_form?memberno=${session.memberno}|}">회원 탈퇴</a>
            </li>
            <li class="nav-item" th:if="${session.memberno!=null}"><a class="dropdown-item" href="#">로그인 내역</a></li>
          </ul>
        </div>
        
        
        <!-- 관리자 정보 탑 메뉴-->
        <div class="nav-item dropdown" style="margin-left: 10px;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <!-- 관리자 가입은 데이터베이스에서 추가 함(제한)
              <li class="nav-item"><a class="nav-link" href="/admin/create">관리자 가입</a></li>
-->

            <li class="nav-item" th:if="${session.adminsno == null}"><a class="dropdown-item" href="/admin/login"
                th:text="@{|관리자 로그인|}"></a></li>
            <li class="nav-item" th:if="${session.adminsno != null}"><a class="dropdown-item" href="/admin/logout"
                th:text="@{|${session.aname}로그아웃|}"></a></li>

            <li class="nav-item" th:if="${session.adminsno != null}"><a class="dropdown-item" href="/admin/list">관리자 목록</a>
            </li>
            <li class="nav-item" th:if="${session.adminsno !=null}"><a class="dropdown-item" href="/alogin/list">관리자 로그인
                내역</a></li>
            <li class="nav-item" th:if="${session.adminsno !=null}"><a class="dropdown-item" href="/foodcate/list_all">식단
                추가</a></li>
            <!-- 관리자 비밀번호, 아이디 찾기, 비밀번호 찾기는 데이터베이스에서 추가 함
              <li class="nav-item" th:if="${session.adminsno != null}">
                  <a class="nav-link" href="/member/passwd_update_form">비밀 번호 변경</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">관리자 아이디 찾기</a></li>         
              <li class="nav-item"><a class="nav-link" href="#">관리자 비밀번호 찾기</a></li>-->
          </ul>
        </div>
        <a class="nav-link" href="#" aria-label="Settings">
          <i class="bi bi-gear" style="color: white;"></i>
        </a>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>


    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <!-- 기본 카테 메뉴 시작 -->
                    <li class="nav-item dropdown" th:each="cateVOMenu:${menu1}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                             role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${cateVOMenu.name}">                                                            
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li th:each="cateVO:${cateVOMenu.list_namesub}"><a class="dropdown-item" th:href="@{|/contents/list_cate?cateno=${cateVO.cateno}|}" th:text="${cateVO.namesub}"></a></li>
                        </ul>

                    </li>
                  <!-- 운동 카테 메뉴 시작 -->
                    <li class="nav-item dropdown" th:each="htcVOMenu:${menu}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                             role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${htcVOMenu.name}">                                                            
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li th:each="htcVO:${htcVOMenu.list_namesub}"><a class="dropdown-item" th:href="@{|/health/list_by_htcno?htcno=${htcVO.htcno}&now_page=1|}" th:text="${htcVO.namesub}"></a></li>
                        </ul>
                    </li>

                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                             role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자등록">                                                            
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li class="nav-item"><a class="dropdown-item" href="/cate/list_search">카테고리 전체 목록</a></li>
                          <li class="nav-item"><a class="dropdown-item" href="/member/list">회원 목록</a></li>
                          <li class="nav-item"><a class="dropdown-item" href="/htc/list_search">운동 카테 목록</a></li>
                          <li class="nav-item"><a class="dropdown-item" href="/health/list_all?now_page=1">운동 전체 목록</a></li>
                          
                          <li class="nav-item"><a class="dropdown-item" href="/contents/list_all">전체 글 목록</a></li>
                          <li class="nav-item"><a class="dropdown-item" href="/contents/create?cateno=6">글작성테스트</a></li>
                        </ul>
                    </li>

                </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>










    <style>

    .navbar .navbar-brand,
    .navbar .nav-link {
      color: white !important; /* 텍스트와 아이콘을 흰색으로 */
    }
    .navbar .navbar-toggler {
      border-color: black; /* 토글 색깔 */
    }
    .navbar .navbar-toggler .navbar-toggler-icon { /* 아이콘 색깔 흰색 변경 */
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }
    .navbar .icon-container {
      display: flex;
      align-items: center;
    }

  </style>
  
  

  
  
  <!-- 배너 사진-->
<!--    <div class="top_menu_img"></div>-->

  </div>
  
  