<div th:fragment="navbarFragment">

  <div class="top_menu">
    <div class="top_navigation">
      <a href="/" aria-label="홈버튼">
        <img src="/ded/animation/home.gif" class="top_icon" title="HOME ver 2.0">

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span><img src="/ded/animation/all.gif" class="top_icon"title="더 보기"></span>
      </button>
    </div>
      
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <span style="background-color: rgb(255, 255, 255); text-align:center;">회원
            <div style="display: flex; justify-content: space-around;">
           <!-- 회원가입 -->
                <a th:if="${session.memberno == null}" href="/member/create">
                  <img src="/member/images/sineup.gif" class="offcanvas_icon" title="회원 가입">
                  
                </a>
           <!-- 로그인 -->
               <span th:if="${session.memberno == null}">
                    <a class="nav-top" style="font-size: 20px;" href="/member/login">
                        <img src="/member/images/login.gif" class="offcanvas_icon" title="로그인">
                        
                    </a>
               </span>
               
               <span th:if="${session.memberno != null}">
                    <a class="nav-top" style="font-size: 20px;" href="/member/logout">
                        <img src="/member/images/logout.gif" class="offcanvas_icon" title="로그아웃">
                        
                    </a>
                </span>
            </div>
            </span>
            
            <span style="background-color: rgb(255, 255, 255); text-align:center;">카테고리
                 <!-- 기본 카테 메뉴 시작 -->
                  <li class="nav-item dropdown" th:each="cateVOMenu:${menu}">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                           role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${cateVOMenu.name}">                                                            
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li th:each="cateVO:${cateVOMenu.list_namesub}"><a class="dropdown-item" href="#" th:text="${cateVO.namesub}"></a></li>
                      </ul>
                  </li>
              
            <li class="nav-item dropdown" th:if="${session.grade=='admin'}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                     role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자등록">                                                            
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li class="nav-item"><a class="dropdown-item" href="/cate/list_search">테이블 등록</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="/member/list">회원 목록</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="/contents/list_all">전체 글 목록</a></li>
                </ul>
            </li>
            </span>
                   
          </ul>
      </div>
              
    </div>
  </div>
           
</div>
